p {

}

hr {
	border-top: none;
	border-bottom: 1px dotted black;
}

.aboutText {
	float: left;
	color: #363636;
	font-size: 12px;
	line-height: 16px;
	
	width: 100%;
}

.aboutColumn {
	float: left;
	width: 50%;
}

.aboutTextBlock {
	padding-right: 50px;
	padding-bottom: 20px;
}

h1 {
	font-size: 16px;
	color: #a3620a;
	font-weight: normal;
	margin-bottom: -0.5em;
}

ul {
	list-style-type: none;
	font-size: 12px;
	line-height: 22px;
	padding-left: 0px;
	margin-left: 0px;
	text-indent: 0px;
}