a:link { 
	background: #fff200;
	color: black;
}

a:hover { 
	text-decoration: underline;
}

.newsHolder {
	margin-top: 36px;
}

.newsItem {
	width: 1000px;
	height: 260px;
	margin-bottom: 11px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.newsItemEven {
	background: #e4e1dc;
}

.newsItemOdd {
	border: 1px dotted #ddd8d2;
}

.newsImage {
	float: left;
	padding-right: 34px;
}

.newsTextBlock {
	padding-top: 20px;

	font-family: Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
}

.newsDate {
	font-family: Helvetica Neue, sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
}

.newsTitle {
	font-size: 16px;
	line-height: 22px;
}