/* Common */


body {
    max-width: 100%;
    overflow-x: hidden;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}


.mainbody{
    padding-top: 80px;
    width: 100%;
}


.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 30px;
    padding-right: 8%;  
    background-color: #1a1a1afa;
    border-top: 1px solid #1a1a1a;
}

.footer_nocolor{
    left: 0;
    bottom: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: 100%;
    padding-top: 30px;
    padding-right: 8%;  
    background-color: #1a1a1afa;
    border-top: 1px solid #1a1a1a;
}


/* padding */

.padding-159{
    height: 159px;
    width: 100%;
    display: inline-block;
}

.padding-120{
    height: 120px;
    width: 100%;
    display: inline-block;
}

.padding-100{
    height: 100px;
    width: 100%;
    display: inline-block;
}

.padding-80{
    height: 80px;
    width: 100%;
    display: inline-block;
}

.padding-72{
    height: 72px;
    width: 100%;
    display: inline-block;
}

.padding-60{
    height: 60px;
    width: 100%;
    display: inline-block;
}

.padding-50{
    height: 50px;
    width: 100%;
    display: inline-block;
}

.padding-42{
    height: 42px;
    width: 100%;
    display: inline-block;
}


.padding-30{
    height: 30px;
    width: 100%;
    display: inline-block;
}

.padding-15{
    height: 15px;
    width: 100%;
    display: inline-block;
}

.padding-10{
    height: 10px;
    width: 100%;
    display: block;
}


.padding-5{
    height: 5px;
    width: 100%;
    display: block;
}

.padding-1{
    height: 1px;
    display: block;
    margin-left: 0%;
    padding-right: 0%;
    margin-right: 0%;
    background-image: linear-gradient(to right,rgba(236, 236, 236, 1),rgba(236, 236, 236, 1),rgba(236, 236, 236, 1));

}

.padding-1-noleft{
    height: 1px;
    display: block;
    padding-right: 0%;
    margin-right: 0%;
    background-image: linear-gradient(to right,rgba(236, 236, 236, 1),rgba(236, 236, 236, 1),rgba(236, 236, 236, 1));
}

.othertext_center{
    position: relative;
    z-index: 10;
    width: 100%;
    padding-left: 41.7%;
    padding-right: 33.6%;
}


/* main */

.main_image{
    width: 100%;
    padding-left:16%;
    padding-right:8%;
}

.full_image{
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
}


.works_01 {
    position: relative;
    padding-left: 0%;
    padding-right: 8%;
    margin-left: 16%;
    margin-right: 0%;
}

.works_02{
    position: relative;
    float: left;
    width: 58.4%;
    padding-left: 0%;
    padding-right: 8%;
    margin-left: 16%;
    margin-right: 0%;
}

.works_03{
    position: relative;
    float: right;
    width: 58.4%;
    padding-left: 0%;
    padding-right: 8%;
    margin-left: 16%;
    margin-right: 0%;
}

.threeCol{
    display: inline-flex;
    position: relative;
    justify-content: space-between;
    padding-left: 0%;
    padding-right: 8%;
    margin-left: 16%;
    margin-right: 0%;
}

.leftwork, 
.centerwork, 
.rightwork,
.leftwork-main,
.centerwork-main,
.rightwork-main 
 {
    width: 32.5%;
}


.main-name{
    position: absolute;
    padding-top: 10px;
    color: #000000;
    visibility: hidden;
    opacity: 0;
    transition: opacity .7s, visibility .7s; /* transition effect. not necessary */
}
  

.works_01:hover .main-name {
    visibility: visible;
    opacity: 1;
}

.works_02:hover .main-name {
    visibility: visible;
    opacity: 1;
}

.works_03:hover .main-name {
    visibility: visible;
    opacity: 1;
}

.leftwork-main:hover .main-name {
    visibility: visible;
    opacity: 1;
}

.centerwork-main:hover .main-name {
    visibility: visible;
    opacity: 1;
}

.rightwork-main:hover .main-name {
    visibility: visible;
    opacity: 1;
}


@media screen and (max-width: 740px) {

    .main_image{
        display: block;
        position: relative;
        width: 96%;
        padding-right: 4%;
    }
    

    .works_02,
    .works_03{
        display: block;
        position: relative;
        float: none;
        width: 80%;
        padding-right: 4%;
    }

    .threeCol{
        display: block;
        position: relative;
        width: 80%;
        padding-right: 4%;
    }

    .leftwork,
    .centerwork,
    .rightwork,
    .leftwork-main,
    .centerwork-main,
    .rightwork-main{
        width: 100%;
        padding-bottom: 5px;
    }

    .othertext_center{
        display: block;
        position: relative;
        width: 96%;
        padding-left: 16%;
        padding-right:8%;
    }


.footer{
    padding-right: 8%;  
}

.footer_nocolor{
    padding-right: 8%;  
}

}



@media screen and (max-width: 360px) {

}