.header{
    max-width: 100%;
    overflow-x: hidden;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}

.header-background{  
    position:fixed;
    display: block;
    z-index: 80;
    height: 110px;
    width: 70%;
    margin:0px;
    padding:0px;
    background-image: linear-gradient(to right,rgb(255, 255, 255,1),rgb(255, 255, 255,0.8),rgba(255, 255, 255, 0));
}

.top-logo{
    position:fixed;
    display: block;
    z-index: 94;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 50px;
    padding-bottom: 18px;
    background-color: transparent;
}

.top-navi{
    position:fixed;
    z-index: 94;
    margin-left: 270px;
    margin-right: 4%;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12.5px;
    font-weight: 400;
    font-stretch: normal;
    letter-spacing: 1.5px;
    line-height: 1;
    white-space: nowrap; 
}

.top-navi a{
    color:  #a0a0a0;   
}

.top-navi-1{
    display: inline-flex;
    margin-top: 24px;
    margin-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.top-navi-2{
    display: inline-flex;
    margin-top: 24px;
    margin-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
}

.top-navi-item {
    margin-top: 0px;
    padding-left:0px;
    padding-bottom:0px;
    text-align: left; 
    text-transform: uppercase;
}

.top-navi-selected {
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-image: linear-gradient(to right,rgba(160, 160, 160, 1),rgba(160, 160, 160, 1),rgba(160, 160, 160, 0));
    color: #000000;
    margin-top: 0px;
    padding-left:0px;
    padding-bottom:0px;
    text-align: left; 
    text-transform: uppercase;
}


.top-navi-item:hover {
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
}

.top-works,.top-archive{
    margin-right: 31.5px;
}

.top-about{
    margin-right: 25px;
}




@media screen and (max-width: 740px) {
    
    .header-background{  
        height: 90px;
        width: 100%;
        background-image: linear-gradient(to right,rgb(255, 255, 255,1),rgb(255, 255, 255,0.7),rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0));
    }

    .logo{
        height: 40px;
        width: auto;
    }

    .top-logo{
        padding-top: 30px;
        padding-left: 20px;
    }

    .top-navi{
        margin-top: 12px;
        margin-left: 150px;
    }
    
    .top-navi-1{
        display: flex;
        margin-top: 0px;
        margin-right: 0px;
    }

    .top-navi-2{
        display: flex;
        margin-top: 10px;
    }

    .top-navi-item {
        margin-top: 0px;
        padding-left:0px;
        padding-bottom:0px;
        margin-right: 0px;
        text-align: left; 
        text-transform: uppercase;
    }

    .top-works{
        margin-left: 0px;
        margin-right: 19px;
        
    }

    .top-about{
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .top-archive{
        margin-left: 0px;
        margin-right: 8px;
    }

    .top-contact{
        margin-left: 0px;
    }
}