/* Main */

.main-name{
	font-family: 'Fira Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	line-height: 1.25;
	text-align: left;
	color: #a0a0a0;
	text-shadow: 0px 0px 0.5px #00000081;
}


.main-subtext{
	font-family: 'Fira Sans', sans-serif;
	font-size: 12px;
	font-weight: 200;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0.5px;
	line-height: 1.5;
	text-align: left;
	color: #000000
}


/* Works, About */

.works_name {
	font-family: 'Fira Sans', sans-serif;
	font-size: 26px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 1px;
	line-height: 1.5;
	text-align: left;
	color: #000000
}


.year_location_materials{
	font-family: 'Fira Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0.5px;
	line-height: 1.95;
	text-align: left;
	color: #000000
}

.othertext_left{
	font-family: 'Fira Sans', sans-serif;
	font-size: 26px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 4.1px;
	line-height: 1.5;
	text-align: left;
	color: #ececec
}

.othertext_center{
	font-family: 'Fira Sans', sans-serif;
	font-size: 26px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 4.1px;
	line-height: 1.5;
	text-align: left;
	color: #ececec
}

.text_en{
	font-family: 'Fira Sans', sans-serif;
	font-size: 14px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0.5px;
	line-height: 1.8;
	text-align: left;
	color: #000000  
}


.text_en_bold{
	font-family: 'Fira Sans', sans-serif;
	font-weight: 400;
	line-height: 1.65;
	font-size: 14px;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0.5px;
	text-align: left;
	color: #000000
}


.text_kr{
	font-family: 'Gothic A1', sans-serif;
	font-size: 15px;
	font-weight: 200;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.8;
	text-align: left;
	color: #a0a0a0;
	word-break: keep-all;
}

.text_kr_works_03{
	font-family: 'Gothic A1', sans-serif;
	font-size: 13.2px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0.3px;
	line-height: 1.95;
	text-align: left;
	color: #000000;
	word-break: keep-all;
}


@media screen and (max-width: 620px) {
	
	.text_en{
		font-family: 'Fira Sans', sans-serif;
		font-size: 13.5px;
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		letter-spacing: 0.5px;
		line-height: 1.8;
		text-align: left;
		color: #000000  
	}
	
	.text_kr{
		font-family: 'Gothic A1', sans-serif;
		font-size: 14px;
		font-weight: 200;
		font-style: normal;
		font-stretch: normal;
		line-height: 2;
		text-align: left;
		color: #a0a0a0;
		word-break: keep-all;
	}
	
	.text_kr_works_03{
		font-family: 'Gothic A1', sans-serif;
		font-size: 12.7px;
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		letter-spacing: 0.3px;
		line-height: 2;
		text-align: left;
		color: #000000;
		word-break: keep-all;
	}

	.othertext_center{
		font-family: 'Fira Sans', sans-serif;
		font-size: 26px;
		font-weight: 300;
		font-style: normal;
		font-stretch: normal;
		letter-spacing: 4.1px;
		line-height: 1.5;
		text-align: right;
		color: #ececec
	}
	
	
}


.text_description_detail{
	font-family: 'Fira Sans', sans-serif;
	font-size: 12.5px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0.5px;
	line-height: 2.2;
	text-align: left;
	color: #000000
}

.text_description_detail_bold{
	font-family: 'Fira Sans', sans-serif;
	font-size: 12.5px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: 0.5px;
	line-height: 2.2;
	text-align: left;
	color: #000000
}

.text_kr_address{
	font-family: 'Gothic A1', sans-serif;
	font-size: 12.5px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.8;
	text-align: left;
	color: #a0a0a0;
	word-break: keep-all;
}


.email-link a{
	color: #000000;
	text-decoration: underline;
}


.press-link a{
	color: #000000;
	text-decoration: underline;
}

.email-link a:hover{
	color:  #a0a0a0;
	text-decoration: none;
	transition: 0.3s;
}

.press-link a:hover{
	color: #a0a0a0;
	text-decoration: none;
	transition: 0.3s;
}



.hoverGrey{
	color: #000000;
	cursor: pointer;
}

.hoverGrey:hover {
	color: #a0a0a0;
	text-decoration: none;
	transition: 0.3s;
}

